html {
  scroll-behavior: smooth;
}

/* カレンダー装飾 */
.calender {
    text-align:center;
    font-size:1.5rem;
    border:solid 0.2rem black;
    /* margin-top:0.5rem; */

    /* カレンダーを中央に配置。 */
    margin:0.5rem auto 0;
}
.calender td{
    padding:0.5rem;
    border:solid 0.1rem black;
}
.calender td:nth-child(1) {
    color:crimson;
}
.calender td:nth-child(7) {
    color:royalblue;
}
.calender_head {
    font-weight:bold;
    border-bottom:double 0.2rem black;
}
.calender_link {
    display:block;
    width:100%;
    height:100%;
}


.test{
    background:lavender;
    border:solid 0.2rem black;
    padding:1.0rem;

}


/* トピックの装飾 */
.topic_area {
    border:solid 0.1rem black;
    margin:0.5rem 0;
    padding:0.5rem;
    background:lemonchiffon;
    box-shadow:0.7rem 0.7rem 0.5rem black;
}
.topic_title{
    font-size:1.0rem;
    margin:0.5rem 0;
    font-weight:bold;
    font-family:sans-serif;
}
.topic_dt {
    font-size:0.85rem;
    font-weight:bold;
    text-align:right;
}

